<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917565168884-ifuepm04ijdj6j6aj24nsiu104n685mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917565168884-ifuepm04ijdj6j6aj24nsiu104n685mg</string>
	<key>API_KEY</key>
	<string>AIzaSyALy_NAX66GIYo_bq2ax52vVfQDV3v52eI</string>
	<key>GCM_SENDER_ID</key>
	<string>917565168884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.fit.GameDB</string>
	<key>PROJECT_ID</key>
	<string>gamedb-b34d2</string>
	<key>STORAGE_BUCKET</key>
	<string>gamedb-b34d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917565168884:ios:72eea9a446e7776be752a1</string>
</dict>
</plist>